@using Dominio.Core.Entidades;
@model MVC.ViewModel.AgendamentoViewModel
@Scripts.Render("~/Scripts/Project_Scripts/agendamento_ListaAgendamentos.js")

@*@using (Ajax.BeginForm(
        new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,

            UpdateTargetId = "list-container"
        }))
    {

    }*@


@helper montarRow(Agendamento agendamento)
{
    <tr class="hover-row-color labels" data-row-status=@agendamento.Status>
        <td class="hover-row-text protocolo labels">@agendamento.Paciente.Protocolo</td>
        <td class="hover-row-text labels">@agendamento.Paciente.Nome</td>

        @if(agendamento.DiaDoAgendamento.CompareTo(DateTime.Now) >= 0)
        {
            switch ((int)agendamento.Status)
            {

                case 0:

                    break;


                case 1:
                    <td data-row-action="cancelar"
                        data-row-protocol=@agendamento.Paciente.Protocolo
                        data-row-date=@agendamento.DiaDoAgendamento>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </td>
                    break;

                case 2:
                    <td data-row-action="reagendar"
                        data-row-protocol=@agendamento.Paciente.Protocolo
                        data-row-date=@agendamento.DiaDoAgendamento>
                        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                    </td>
                    break;

                case 3:
                    <td data-row-protocol="@agendamento.Paciente.Protocolo"
                        data-row-date="@agendamento.DiaDoAgendamento">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </td>
                    break;
                case 4:
                    <td data-row-action="realizado"
                        data-row-protocol="@agendamento.Paciente.Protocolo"
                        data-row-date="@agendamento.DiaDoAgendamento">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </td>
                    break;
            }
        }
        else
        {
            switch ((int)agendamento.Status)
            {

                case 0:

                    break;
                    

                case 3:
                    <td data-row-protocol="@agendamento.Paciente.Protocolo"
                        data-row-date="@agendamento.DiaDoAgendamento">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </td>
                    break;
                case 4:
                    <td data-row-action="realizado"
                        data-row-protocol="@agendamento.Paciente.Protocolo"
                        data-row-date="@agendamento.DiaDoAgendamento">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </td>
                    break;

                default:
                    <td data-row-protocol="@agendamento.Paciente.Protocolo"
                        data-row-date="@agendamento.DiaDoAgendamento">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </td>
                    break;
            }
        }
    </tr>
}

<!-- CONFIRMATION BLOCK-->
<div id="modal-confirmation" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <!-- Modal Cancelar Agendamento -->
            <div id="modal-cancelar-agendamento" class="modal-body">
                <h4>
                    Tem certeza que deseja cancelar o agendamento?
                </h4>
            </div>

            <!-- Modal Reagendar -->
            <div id="modal-reagendar-agendamento" class="modal-body">
                <h4>
                    Tem certeza que deseja reagendar?
                </h4>
            </div>

            <div class="modal-footer">
                <div class="btn btn-success col-md-5  col-md-offset-1" data-confirmation="sim">
                    Sim
                </div>
                <div class="btn btn-success col-md-5  col-md-offset-1" data-dismiss="modal">
                    Não
                </div>
            </div>
        </div>
    </div>

</div>

<!-- END CONFIRMATION BLOCK-->

<div class="panel-body">

    <div id="tab_qt_dia" class="col-lg-3">
        <div class=" panel panel-warning">

            <div class="panel-heading">
                <label for="InputData" class="panel-tittle">Quimioterapia Dia</label>
            </div>

            <table class="table table-responsive table-bordered labels">
                <thead>
                    <tr>
                        <th>Protocolo</th>
                        <th>Nome do Paciente</th>
                    </tr>
                </thead>

                <tbody>
                    @{
                        int total_qt_dia = 0;
                        foreach (var agendamento in Model.ListaDeAgendamento)
                        {

                            if ((int)agendamento.TipoDeTratamento == 1)
                            {
                                total_qt_dia++;
                                @montarRow(agendamento);
                            }
                        }
                    }
                </tbody>
            </table>
            <div class="panel-footer">
                <label for="InputData" class="panel-footer">Total: @total_qt_dia</label>
            </div>
        </div>
    </div>


    <div id="tab_qt_seq" class="col-lg-3">
        <div class=" panel panel-success">

            <div class="panel-heading">
                <label for="InputData" class="panel-tittle">Quimioterapia Sequencial</label>
            </div>

            <table class="table table-responsive table-bordered ">
                <thead>
                    <tr>
                        <th>Protocolo</th>
                        <th>Nome do Paciente</th>
                    </tr>
                </thead>

                <tbody>
                    @{
                        int total_qt_seq = 0;
                        foreach (var agendamento in Model.ListaDeAgendamento)
                        {

                            if ((int)agendamento.TipoDeTratamento == 2)
                            {
                                total_qt_seq++;
                                @montarRow(agendamento)
                            }
                        }
                    }
                </tbody>
            </table>
            <div class="panel-footer">
                <label for="InputData" class="panel-footer">Total: @total_qt_seq</label>
            </div>
        </div>
    </div>

    <div id="tab_intercorrencia" class="col-lg-3">
        <div class=" panel panel-danger">

            <div class="panel-heading">
                <label for="InputData" class="panel-tittle">Intercorrência</label>
            </div>

            <table class="table table-responsive table-bordered ">
                <thead>
                    <tr>
                        <th>Protocolo</th>
                        <th>Nome do Paciente</th>
                    </tr>
                </thead>

                <tbody>
                    @{
                        int total_intercorrencia = 0;
                        foreach (var agendamento in Model.ListaDeAgendamento)
                        {

                            if ((int)agendamento.TipoDeTratamento == 4)
                            {
                                total_intercorrencia++;
                                @montarRow(agendamento)
                            }
                        }
                    }
                </tbody>
            </table>
            <div class="panel-footer">
                <label for="InputData" class="panel-footer">Total: @total_intercorrencia</label>
            </div>
        </div>
    </div>

    <div id="tab_procedimento" class="col-lg-3">
        <div class=" panel panel-info">

            <div class="panel-heading">
                <label for="InputData" class="panel-tittle">Procedimento</label>
            </div>

            <table class="table table-responsive table-bordered ">
                <thead>
                    <tr>
                        <th>Protocolo</th>
                        <th>Nome do Paciente</th>
                    </tr>
                </thead>

                <tbody>
                    @{
                        int total_procedimento = 0;
                        foreach (var agendamento in Model.ListaDeAgendamento)
                        {

                            if ((int)agendamento.TipoDeTratamento == 3)
                            {
                                total_procedimento++;
                                @montarRow(agendamento)
                            }
                        }
                    }
                </tbody>
            </table>
            <div class="panel-footer">
                <label for="InputData" class="panel-footer">Total: @total_procedimento</label>
            </div>
        </div>

    </div>
</div>
