@model MVC.ViewModel.AgendamentoViewModel
@Scripts.Render("~/Scripts/agendamento_modal.js")

<!-- VALIDATION BLOCK-->
@if (!Model.isValid)
{
    <div class="row">
        <div class="col-sm-12">
            <div class="modal-validation alert alert-danger alert-dismissable" role="alert">
                <button type="button" class="close" data-dissmiss="alert">
                    <span aria-hidden="true">
                        &times;
                    </span>
                    <span class="sr-only">Close</span>
                </button>
                @Html.ValidationSummary(false)
            </div>
        </div>
    </div>
}

<!-- END VALIDATION BLOCK -->

<div class="panel-body">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Protocolo</th>
                <th>Nome do Paciente</th>
                <th>Dia do agendamento</th>
                <th>Tipo de Tratamento</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var agendamento in Model.ListaDeAgendamento)
            {
                <tr class="hover-row-color" data-modal-service="opcao">
                    <td class="hover-row-text protocolo">@agendamento.Paciente.Protocolo</td>
                    <td class="hover-row-text">@agendamento.Paciente.Nome</td>
                    <td class="hover-row-text">@agendamento.DiaDoAgendamento</td>
                    <td class="hover-row-text">@agendamento.TipoDeTratamento</td>
                </tr>
            }
        </tbody>
    </table>
</div>


