
@model MVC.ViewModel.AgendamentoViewModel
@{
    ViewBag.Title = "Lista de Pacientes";
}


@using (Ajax.BeginForm(
    new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,

        UpdateTargetId = "list-container"
    }))
{
    <!-- BEGIN HIDDEN BLOCK -->
    @Html.HiddenFor(a => a.EventCommand)
    @Html.HiddenFor(a => a.Mode)
    @Html.HiddenFor(a => a.NovoAgendamento.Paciente.Protocolo)
    @Html.HiddenFor(a => a.AtualizarAgendamento.Paciente.Protocolo);
    @Html.HiddenFor(a => a.AtualizarAgendamento.DiaDoAgendamento);
    @Html.HiddenFor(a => a.statusAtualizarAgendamento);
    @Html.HiddenFor(a => a.isValid)
    <!-- END HIDDEN BLOCK-->


    @*<!-- Modals -->
    <div id="modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">

            <!-- Modal Opção Agendamento -->
            <div id="modal-opcaoAgendamento" class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    Opções do Agendamento
                </div>

                <div class="modal-body">
                    <div class="btn btn-success col-md-offset-8" data-modal-service="reagendamento">
                        Reagendar
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>

            <!-- Modal Reagendamento -->
            <div id="modal-reagendamento" class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    Reagendamento
                </div>
                <div class="modal-body">


                    <div class="form-group">
                        @Html.Label("Dia do Agendamento")
                        @Html.TextBoxFor(aVM => aVM.NovoAgendamento.DiaDoAgendamento, new { @type = "date", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Tipo de Tratamento")
                        @Html.DropDownListFor(m => m.NovoAgendamento.TipoDeTratamento, new[] {
                                        new SelectListItem() { Text = "Escolha uma opção...", Value = ((int) Dominio.Core.Entidades.ETipoDeTratamento.Opcao).ToString(), Selected = true, Disabled = true },
                                        new SelectListItem() { Text = "Quimioterapia Dia", Value = ((int) Dominio.Core.Entidades.ETipoDeTratamento.Quimioterapia_Dia).ToString() },
                                        new SelectListItem() { Text = "Quimioterapia Sequencial", Value = ((int) Dominio.Core.Entidades.ETipoDeTratamento.Quimioterapia_Sequencial).ToString() },
                                        new SelectListItem() { Text = "Procedimento", Value = ((int) Dominio.Core.Entidades.ETipoDeTratamento.Procedimento).ToString()},
                                        new SelectListItem() { Text = "Intercorrencia", Value = ((int) Dominio.Core.Entidades.ETipoDeTratamento.Intercorrencia).ToString() }
                                        }, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <div id="btnSalvar" class="btn btn-success col-md-offset-4 col-md-3" data-pdsa-action="salvar">
                            Salvar
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-modal-service="voltar">Voltar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>

    </div>
    <!-- END Modals -->*@


    <!-- BEGIN SEARCH BLOCK -->
    <div id="search-container" class="panel panel-lightgreen">
        <div class="panel-heading">
            <label for="InputData" class="panel-tittle">Busca</label>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-6 col-md-offset-3">
                    <div id="insert-hide">

                        @Html.TextBoxFor(aVM => aVM.SearchEntity.DiaDoAgendamento, new { @type = "date", @class = "form-control" })

                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-6 col-md-offset-3">
                    <div class="input-group form-group">

                        @Html.TextBoxFor(a => a.NameOrProtocol, new
                    {
                        @class = "form-control",
                        placeholder = "Digite o nome ou o protocolo do paciente"
                    })

                        <span class="input-group-btn">
                            <button id="btnSearch" class="btn btn-success" data-pdsa-action="pesquisar">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>

                    </div>
                </div>

            </div>
            <br />
            <div class="row">

                <div class="col-md-4 col-md-offset-4">

                    @*<button id="btnAdd" class="btn btn-primary" data-pdsa-action="add">
                            <span class="glyphicon glyphicon-plus-sign"></span> Adicionar
                        </button>*@

                    @*<button id="btnClear" class="btn btn-danger" data-pdsa-action="clear">
                            <span class="glyphicon glyphicon-erase"></span> Limpar
                        </button>*@

                    <button id="btnPrint" class="btn btn-success col-md-offset-4 col-md-4" data-pdsa-action="imprimir">
                        <span class="glyphicon glyphicon-print"></span> Imprimir
                    </button>

                </div>
            </div>

        </div>
    </div>

    <!-- END SEARCH BLOCK-->
    
    
    <!-- LIST BLOCK-->
    
}
    <div id="list-container" class="panel panel-lightgreen">

        @Html.Partial("_ListaAgendamentos", Model)

    </div>
<!-- END LIST BLOCK-->