
@model MVC.ViewModel.AgendamentoViewModel
@{
    ViewBag.Title = "Lista de Pacientes";
}


@using (Ajax.BeginForm(

    new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,

        UpdateTargetId = "partials-container"
    }))
{

    <!-- BEGIN HIDDEN BLOCK -->
    @Html.HiddenFor(a => a.EventCommand)
    @Html.HiddenFor(a => a.Mode)
    @Html.HiddenFor(a => a.AtualizarAgendamento.Paciente.Protocolo)
    @Html.HiddenFor(a => a.AtualizarAgendamento.DiaDoAgendamento)
    @Html.HiddenFor(a => a.statusAtualizarAgendamento)
    @Html.HiddenFor(a => a.isValid)

    <!-- END HIDDEN BLOCK-->

    <!-- BEGIN SEARCH BLOCK -->
    <div id="search-container" class="panel panel-lightgreen">
        <div class="panel-heading">
            <label for="InputData" class="panel-tittle">Busca</label>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-6 col-md-offset-3">
                    <div id="insert-hide">

                        @Html.TextBoxFor(aVM => aVM.SearchEntity.DiaDoAgendamento, new { @type = "date", @class = "form-control" })

                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-6 col-md-offset-3">
                    <div class="input-group form-group">

                        @Html.TextBoxFor(a => a.NameOrProtocol, new
                    {
                        @class = "form-control",
                        placeholder = "Digite o nome ou o protocolo do paciente"
                    })

                        <span class="input-group-btn">
                            <button id="btnSearch" class="btn btn-success" data-pdsa-action="pesquisar">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>

                    </div>
                </div>

            </div>
            <br />
            <div class="row">

                <div class="col-md-4 col-md-offset-4">
                    
                    <button id="btnListar" class="btn btn-success col-md-3" data-pdsa-action="lista">
                        <span class="glyphicon glyphicon-list"></span> Listar
                    </button>

                    <button id="btnPrint" class="btn btn-success col-md-offset-1 col-md-3" data-pdsa-action="imprimir">
                        <span class="glyphicon glyphicon-print"></span> Imprimir
                    </button>

                    <button id="btnNovoAgendamento" class="btn btn-success col-md-offset-1 col-md-3" data-pdsa-action="novoAgendamento">
                        <span class="glyphicon glyphicon-plus"></span> Novo
                    </button>

                </div>
            </div>

        </div>
    </div>

    <!-- END SEARCH BLOCK-->

    <!-- CONFIRMATION BLOCK-->
    <div id="modal-aviso" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                
                <div class="modal-body">
                    <h4 id="textoModal">
                       
                    </h4>
                </div>
                
                @*<div id="modal-reagendar-agendamento" class="modal-body">
                    <h4>
                        Tem certeza que deseja reagendar?
                    </h4>
                </div>*@

                <div class="modal-footer">
                    <div class="btn btn-success col-md-2  col-md-offset-5" data-dismiss="modal">
                        Ok
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- END CONFIRMATION BLOCK-->

}
<div id="partials-container" >

    @Html.Partial("_partials", Model)

</div>